{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="loginform">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username", placeholder="username" required type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email_address", placeholder="Email address" required type="email">
            </div>   
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="password_one", placeholder="password" required type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="password_two", placeholder="confirm password" required type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
{% endblock %}